<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ㅇㅇ쇼핑몰 > 나의 정보수정</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="table-response">
	<table class="table">
	<form action="modify" method="post">
		<tr>
			<td>아이디</td><td><input type="text" name="user_id"  readonly th:value="${session.userVO.user_id}"></td>
		</tr>
		<tr>
			<td>비밀번호</td><td><input type="password" name="user_pw" required th:value="${userVO.user_id}"></td>
		</tr>
		<tr>
			<td>이름</td><td><input type="text" name="user_name" readonly th:value="${userVO.user_name}"></td>
		</tr>
		<tr>
			<td>핸드폰</td><td><input type="text" name="user_phone" required th:value="${userVO.user_phone}"></td>
		</tr>
		<tr>
			<td>이메일</td><td><input type="text" name="user_email" th:value="${userVO.user_email}"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="수정하기"></td>
		</tr>
	</form>
	</table>
	</div>
</div>
</body>
</html>